body {
    color: #007FFF;
    background-color: black;
}

h1 {
    font-family: Apple Chancery;
    font-size: 3em;
    border-bottom: 2px Solid #007FFF;
    border-right: 2px Solid #007FFF;
    width: 650px;
    text-align: center;
}

img {
    height: 500px;
    margin: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}